# basic artifacts
*.zip
*.dmp
*.bin
*.elf
*.gba
*.lyn.event
*.o
*.sym
*.s
*.asm
!src/fillAIDangerMap/FillAIDangerMap.s
!src/ExpandedModularSave/Src/*.lyn.event
!src/ExpandedModularSave/Src/*.s
.cache
obj

# tools
bin/lyn/lyn
bin/lyn/CMakeFiles
bin/lyn/CMakeCache.txt
bin/lyn/Makefile
bin/lyn/cmake_install.cmake
_build
