# basic artifacts
*.zip
*.dmp
*.bin
*.elf
*.gba
*.lyn.event
*.o
*.sym
*.s
*.asm
*.hi
*.bsdiff*
!src/progressiveCaps/unitListHook.s
!src/fillAIDangerMap/FillAIDangerMap.s
!src/ExpandedModularSave/Src/*.lyn.event
!src/ExpandedModularSave/Src/*.s
!src/HpBars/asm/*
!src/HpBars/GameOptions/*
!src/HpBars/bin/*
!src/DangerZone/asm/*
!src/LToggle/asm/*
!src/BattleStatsWithAnimsOff/*
!vendor/CLib/reference/*
data/text/.TextEntries
.cache
obj

# tools
bin/lyn/lyn
bin/lyn/CMakeFiles
bin/lyn/CMakeCache.txt
bin/lyn/Makefile
bin/lyn/cmake_install.cmake
bin/gendefs/gendefs
bin/Png2Dmp/dist-newstyle
bin/Png2Dmp/Png2Dmp
_build
